[submodule "ts/localization"]
	path = ts/localization
	url = https://github.com/session-foundation/session-localization.git
[submodule "volatile_assets"]
	path = volatile_assets
	url = git@github.com:Bilb/session-desktop-volatile-assets.git
