// Module: Avatar
.module-avatar {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  flex-shrink: 0;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.module-avatar-clickable {
  transition: var(--default-duration);
  cursor: pointer;
  &:hover {
    filter: grayscale(0.7);
  }
}
