// Using BEM syntax explained here: https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

// Module: Contact Name
.module-contact-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  font-weight: 400;
}

.module-contact-name span {
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
  user-select: none;
}

// Module: Message

.module-message__img-attachment {
  cursor: pointer;
}

.module-message__generic-attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: var(--border-radius-message-box);

  .module-message__container--outgoing & {
    color: var(--message-bubbles-sent-text-color);
    background: var(--message-bubbles-sent-background-color);
  }

  .module-message__container--incoming & {
    color: var(--message-bubbles-received-text-color);
    background: var(--message-bubbles-received-background-color);
  }
}

.module-message__generic-attachment__icon-container {
  position: relative;
}
.module-message__generic-attachment__spinner-container {
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}

.module-message__generic-attachment__text {
  flex-grow: 1;
  margin-inline-start: 8px;
  // The width of the icon plus our 8px margin
  max-width: calc(100% - 37px);
}

.module-message__generic-attachment__file-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 2px;

  // Handling really long filenames - cut them off
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.module-message__generic-attachment__file-name,
.module-message__generic-attachment__file-size {
  color: var(--text-primary-color);
}

.module-message__generic-attachment__file-size {
  font-size: var(--font-size-xs);
  line-height: 16px;
  letter-spacing: 0.3px;
  margin-top: 3px;
  text-align: start;
  white-space: nowrap;
}

.module-message__generic-attachment__file-name--incoming,
.module-message__generic-attachment__file-size--incoming,
.module-message__link-preview--incoming {
  color: var(--message-bubbles-received-text-color);
}

.module-message__generic-attachment__file-name--outgoing,
.module-message__generic-attachment__file-size--outgoing,
.module-message__link-preview--outgoing {
  color: var(--message-bubbles-sent-text-color);
}

.module-message__link-preview {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-message-box);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--message-link-preview-background-color);
  margin: var(--padding-link-preview);

  .module-image {
    margin: 0;
    border-radius: 0;
    border-top-left-radius: var(--border-radius-message-box);
  }

  &__text {
    padding-block: var(--margins-sm);
  }
}

.module-message__link-preview__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin-right: var(--margins-sm);
}

.module-message__link-preview__image_container {
  margin-inline-end: 8px;
  display: inline-block;
}

.module-message__link-preview__icon_container {
  display: flex;
  justify-content: center;
  flex: initial;
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: -2px;
  margin-inline-end: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.module-message__link-preview__icon-container__circle-background {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--message-link-preview-background-color);
}

.module-message__link-preview__title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 22px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.module-message__link-preview__location {
  margin-top: 4px;
  font-size: 12px;
  height: 16px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.module-conversation__user,
.module-message__author {
  font-size: var(--font-size-sm);
  font-weight: 300;
  line-height: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.module-conversation__user__profile-name,
.module-message__author__profile-name {
  font-style: italic;
}

// Module: Contact List Item

.module-contact-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--conversation-tab-text-color);
}

.module-contact-list-item--with-click-handler {
  cursor: pointer;
}

.module-contact-list-item__text {
  margin-inline-start: 8px;
}

.module-contact-list-item__text__name {
  font-weight: 300;
  font-size: 14px;
}

.module-contact-list-item__text__profile-name {
  font-style: italic;
}

.module-contact-list-item__text__additional-data {
  margin-top: 3px;
  font-size: 14px;
}

// Module: Document List Item

.module-document-list-item {
  padding-inline-end: 10px;
  width: 100%;
  height: 72px;
}

.module-document-list-item--with-separator {
  border-bottom: 1px solid var(--border-color);
}

.module-document-list-item__content {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.module-document-list-item__metadata {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  min-width: 0;
}

.module-document-list-item__file-name {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.module-document-list-item__file-size {
  display: inline-block;
  margin-top: 8px;
  font-size: 80%;
}

.module-document-list-item__date {
  display: inline-block;
  flex-shrink: 0;
}

// Module: Conversation List Item

.module-conversation-list-item {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  padding-inline-end: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline-start: 16px;
  align-items: center;

  cursor: pointer;

  &:hover {
    background-color: var(--conversation-tab-background-hover-color);
  }

  &--is-blocked {
    border-left: 4px solid var(--danger-color) !important;
  }
}

.module-conversation-list-item__unread-count {
  background-color: var(--unread-messages-alert-background-color);
  color: var(--unread-messages-alert-text-color);
  text-align: center;

  padding-top: 1px;
  padding-inline-start: 3px;
  padding-inline-end: 3px;

  position: absolute;
  right: -6px;
  top: -6px;

  font-weight: 300;
  font-size: var(--font-size-xs);
  letter-spacing: 0.25px;

  height: 16px;
  min-width: 16px;
  line-height: 16px;
  border-radius: 8px;
}

.module-conversation-list-item__content {
  flex-grow: 1;
  margin-inline-start: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  gap: 5px;

  .session-icon-button:first-child {
    margin-right: var(--margins-sm);
  }
}

.module-conversation-list-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module-conversation-list-item__header__name {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  line-height: 18px;

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-weight: 300;
}

.module-conversation-list-item__header__date {
  flex-shrink: 0;
}

.module-conversation-list-item__header__name--with-unread {
  font-weight: 300;
}

.module-conversation-list-item__header__date--has-unread {
  font-weight: 300;
  color: var(--conversation-tab-text-unread-color);
}

.module-conversation-list-item__message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.module-conversation-list-item__message__text {
  flex-grow: 1;
  flex-shrink: 1;

  font-size: var(--font-size-sm);
  color: var(--conversation-tab-text-color);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .text-selectable {
    user-select: none;
  }
}

.module-conversation-list-item__message__text--has-unread {
  font-weight: 400;
  color: var(--conversation-tab-text-unread-color);
}

// Module: Image

.module-image {
  overflow: hidden;
  background: none;
  position: relative;
  display: inline-block;
  margin: 1px;
  vertical-align: middle;
}

.module-image__caption-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.module-image__with-click-handler {
  cursor: pointer;
}

.module-image--soft-corners {
  border-radius: var(--border-radius-message-box);
}

.module-image__loading-placeholder {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--message-link-preview-background-color);
}

.module-image__image {
  object-fit: contain;
  cursor: pointer;

  &-cover {
    object-fit: cover;
  }
}

.module-image__text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  color: var(--white-color);

  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

// Module: Caption Editor
.module-caption-editor {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  height: 100%;

  .session-button {
    margin-inline-start: 15px;
  }
}

.module-caption-editor__media-container {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  margin: 50px;
  overflow: hidden;
  height: 100%;
}
.module-caption-editor__image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  flex-grow: 1;
  flex-shrink: 1;
}
.module-caption-editor__video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  flex-grow: 1;
  flex-shrink: 1;
}
.module-caption-editor__placeholder {
  width: 100%;
  height: 100%;
  object-fit: contain;

  flex-grow: 1;
  flex-shrink: 1;
}

// Module: Left Pane

.module-left-pane {
  display: inline-flex;
  flex-direction: column;
  width: var(--left-panel-width);
  height: 100%;
}

.module-left-pane__virtual-list {
  outline: none;
}

// Module H5AudioPlayer
$rhap_background-color: var(--transparent-color) !default;
$rhap_font-family: inherit !default;

.module-message__container--outgoing {
  .rhap_container {
    background-color: var(--message-bubbles-sent-background-color);
    .rhap_play-pause-button,
    .session-button {
      color: var(--message-bubbles-sent-text-color);
      &:hover {
        color: var(--message-bubbles-sent-text-color);
      }
    }
  }

  .rhap_volume-button {
    color: var(--message-bubbles-sent-text-color);
  }

  .rhap_time {
    color: var(--message-bubbles-sent-text-color);
  }

  .rhap_progress-bar {
    background-color: var(--button-icon-stroke-color);
  }

  .rhap_progress-filled {
    background-color: var(--button-icon-stroke-hover-color);
  }

  .rhap_download-progress {
    background-color: var(--button-icon-stroke-hover-color);
  }

  .rhap_progress-indicator {
    background: var(--primary-color);
  }
}

.module-message__container--incoming {
  .rhap_container {
    background-color: var(--message-bubbles-received-background-color);
    .rhap_play-pause-button,
    .session-button {
      color: var(--message-bubbles-received-text-color);
      &:hover {
        color: var(--message-bubbles-received-text-color);
      }
    }
  }

  .rhap_volume-button {
    color: var(--message-bubbles-received-text-color);
  }

  .rhap_time {
    color: var(--message-bubbles-received-text-color);
  }

  .rhap_progress-bar {
    background-color: var(--button-icon-stroke-color);
  }

  .rhap_progress-filled {
    background-color: var(--button-icon-stroke-hover-color);
  }

  .rhap_download-progress {
    background-color: var(--button-icon-stroke-hover-color);
  }

  .rhap_progress-indicator {
    background: var(--primary-color);
  }
}
