.module-conversation-list-item {
  background: var(--conversation-tab-background-color);
}
.module-conversation-list-item:hover {
  background: var(--conversation-tab-background-hover-color);
}

.module-conversation-list-item__unread-count {
  background: var(--unread-messages-alert-background-color);
  color: var(--unread-messages-alert-text-color);

  position: static !important;
  font-weight: 700 !important;
  box-shadow: none !important;
  margin: 0 !important;
  flex-shrink: 0;
}

.module-conversation-list-item__header__date,
.module-conversation-list-item__header__date--has-unread {
  flex-grow: 1 !important;
  text-align: end !important;
  padding-inline-start: var(--margins-xs);
}

.module-conversation-list-item__header__name {
  flex-grow: 0;
  padding-inline-end: 5px;
}
