.module-conversation-list-item {
  background: var(--conversation-tab-background-color);
}
.module-conversation-list-item:hover {
  background: var(--conversation-tab-background-hover-color) !important;
}

.module-conversation-list-item__header__date,
.module-conversation-list-item__header__date--has-unread {
  flex-grow: 1 !important;
  text-align: end !important;
  padding-inline-start: var(--margins-xs);
}

.module-conversation-list-item__header__name {
  flex-grow: 0;
  padding-inline-end: 5px;
}

.module-session-inbox-view__styled_gutter {
  transition: none;
  width: 100%;
  @media screen and (min-width: 680px) {
    width: var(--left-panel-width);
  }
}
.mobile-active-conversation {
  display: none;
  @media screen and (min-width: 680px) {
    display: block;
  }
}
