#root {
  height: 100%;
}
.subtle {
  opacity: $session-subtle-factor;
}

.soft {
  opacity: 0.4;
}

.text-center {
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.break-word {
  word-break: break-all;
}

input,
textarea {
  caret-color: var(--input-text-color) !important;
}

* {
  user-select: none;

  .text-selectable,
  input,
  textarea {
    a {
      word-break: break-all;
    }
  }
}

::selection {
  background: var(--text-selection-color);
}

.overlay {
  display: flex !important;
  z-index: 1;
}

#main-view {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.button-group > div {
  display: inline-flex;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.session-label {
  font-weight: 700;
  color: var(--white-color);
  padding: var(--margins-sm);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  &.primary {
    background-color: var(--primary-color);
  }
  &.danger {
    background-color: var(--danger-color);
  }
}

.session-icon-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transform: translateZ(0);
}

/* CONVERSATION AND MESSAGES */
.module-conversation-header {
  height: var(--main-view-header-height);
}

.module-conversation-header__title-flex,
.module-conversation-header__title {
  font-weight: bold;
  width: 100%;
  display: flex;
  font-size: var(--font-size-md);

  &-text {
    color: var(--text-primary-color);
    font-weight: 400;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm);
  }

  .module-contact-name {
    width: 100%;
  }

  .module-contact-name__profile-number {
    text-align: center;
  }
}

.module-conversation-header__title {
  flex-direction: column;
}
.module-conversation-header__title-flex {
  flex-direction: row;
}
.module-conversation__user__profile-name,
.module-message__author__profile-name {
  font-style: normal;
}

.module-message--incoming {
  margin-inline-start: 0;
  margin-inline-end: auto;
}
.module-message--outgoing {
  margin-inline-end: 0;
  margin-inline-start: auto;
}

.module-message__container {
  position: relative;
  display: inline-block;
  min-width: 30px;
  // To limit messages with things forcing them wider, like long attachment names.
  width: 100%;
  align-items: center;
  border-radius: var(--border-radius-message-box);
}

label {
  user-select: none;
}

.module-conversation-header {
  position: relative;
  padding: 0px var(--margins-lg) 0px var(--margins-sm);
}

.title-wrapper {
  position: relative;
}

.hidden {
  display: none;
  visibility: hidden;
}

.conversation-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;

  & > div {
    display: block;
  }
}

.messages li {
  transition: var(--default-duration) !important;
}

input {
  user-select: text;
}
