name: Update Volatile Assets Submodule

on:
  workflow_dispatch: # Manual trigger
  schedule:
    - cron: "10 10 * * *" # Runs at 10:10 am everyday

permissions:
  contents: write
  pull-requests: write

jobs:
  update-volatile-assets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}
